@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply p-4;
  }

  h1 {
    @apply text-3xl font-medium;
  }

  a {
    @apply text-blue-500 hover:underline;
  }
}
